/GridPanel/build/
/JSFHelloWorld/build/
/GridPanel/nbproject/private/
/JSFHelloWorld/nbproject/private/
/JSFResources/nbproject/private/
/JSFResources/build/
/JSFi18n/nbproject/private/
/JSFCompositeComponent/nbproject/private/
/JSFi18n/build/
/JSFCompositeComponent/build/
/JSFCompositeComponent/dist/
/JSFTable/nbproject/private/
/JSFTable/build/
/JSFTable/dist/
/JSFTemplating/nbproject/private/
/JSFTablePaging/nbproject/private/
/JSFTablePaging/build/
/JSFTablePaging/dist/
/JSFSelectingValues/nbproject/private/
/JSFSelectingValues/build/
/JSFSelectingValues/dist/
/JSFInclude/nbproject/private/
/JSFInclude/build/
/JavaApplication26/nbproject/private/
/JavaApplication26/build/
/Exceptions/nbproject/private/
/Exceptions/build/
/Exceptions/dist/
/JavaFXApplication8/nbproject/private/
/JavaFXApplication8/dist/
/JavaFXApplication8/build/
/WebApplication1/nbproject/private/
/EnterpriseApplication1/nbproject/private/
/EnterpriseApplication1/EnterpriseApplication1-war/nbproject/private/
/EnterpriseApplication1/EnterpriseApplication1-ejb/nbproject/private/
/ServletHW/target/
/CDI/Interceptors/target/
/CDI/JavaFXApplication15/nbproject/private/
/REST/Persons/target/